/* Home Component Styles */
.home {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .category-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .category-button:hover {
    background-color: #ddd;
  }
  
  .category-button.active {
    background-color: #4CAF50;
    color: white;
  }
  
  @media (max-width: 768px) {
    .category-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .category-button {
      margin: 5px 0;
    }
  
    .search-input {
      width: 80%;
    }
  }
  
  